*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
   background-color: rgb(36, 36, 36);
}
::-webkit-scrollbar{
    display: none;
}
nav{
    width: 100vw;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px ;
    position: fixed;
    transition: 0.5s ease;
    z-index: 999;
}
.nav.color{
    background-color: #111;
}
nav .netflex-img{
    width: 20vmin;
}
nav .login{
    width: 5vmin;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav li{
    padding-right: 1.5rem;
    color: white;
    list-style: none;
}
header{
    width: 100vw;
}
.header-cover{
    width: 100vw;
    height: 90vh;
    
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 30px;
    color: white;

   
}
.header-cover::after {
    content: '';
    position: absolute;
    top: 73%;
    left: 0;
    right: 0;
    height: 7.4rem;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
  }
button{
   width: 6rem;
   min-width: 50px;
   height: 2.3rem;
   border-radius: 5px;
   border: none;
   font-size: 3vmin;
  text-align: center;
  
}
h1{
    font-size: 5vmin;
    color: white;
}
.tittle{
    padding-top: 6rem;
    font-size: 7vmin;
    margin-bottom: 8px;
}
p{
    width: 50%;
    padding-top: 5px;
    font-size: 3vmin;
    margin-top: 8px;
}
.play{
    background-color: white;
}
.list{
   background-color: rgba(255,255, 255, 0.3);
}
#shadow{
    text-shadow: 50px 4px 5px black;
}
.originals{
    padding-top: 20px;
}
section{
    padding-left: 20px;
}
.originlas-container{
    padding: 20px 30px;
    padding-left: 5px;
    display: flex;
    overflow-x: scroll;
    
}
.originlas-container img{
    width: 14%;
    min-width: 180px;
    object-fit: cover;
    margin: 5px;
    cursor: pointer;
}
.trending-container{
    padding: 20px 30px;
    padding-left: 5px;
    display: flex;
    overflow-x: scroll;
}
.trending-container img{
    width: 16%;
    height: 7rem;
    min-width: 200px ;
    object-fit: cover;
    margin: 5px;
}
.trending-container img:hover,
.originlas-container img:hover {
  transform: scale(1.1);
}

iframe{
    width: 100vw;
  
}
.info-container{
    padding: 20px 30px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.info-box{
    max-width: 200px;
 /* min-width:  100px; */
 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 3px;
   border-radius: 10px;
    margin: 5px;
   background-color: rgb(59, 59, 59);
}
.info-box img{
   width:  100%;
   border-radius: 10px;
}
.info-box h4{
  font-size: 3vmin;
}
.info-box span{
    font-size: 2vmin;
}
.space{
    margin: 1rem;
}
